
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
.bg{
    background-size: cover;
    background-image: linear-gradient(rgba(246, 172, 172, 0.9), rgba(246, 166, 102, 0.8)),
    url('./bg.png'); 
    background-image: url('/bg.png');
    opacity: 0.9;
    width: 100%;
    height: 100vh;;
}

.todo-container {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 8px;
}

button {
  padding: 8px 16px;
  margin-top: 4px;
  cursor: pointer;
}

button#update-btn {
  display: none; /* Initially hidden */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 4px;
  background-color: #f0f0f0;
}

li.completed {
  text-decoration: line-through;
  background-color: #d9d9d9;
}

.delete-btn {
  background-color: red;
  color: white;
  padding: 4px 8px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}